html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: left;
  }
  
  tbody th {
    text-align: left;
  }

  tbody tr:nth-child(even) {
    background-color: #f1edf1;
  }
  table {
    background-color: #dbd9db;
    margin-left: auto;
    margin-right: auto;
  }